<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/admin/js/jquery3.6.0.js" type="text/javascript"></script>
    <script src="/component/layui/layui.js"></script>
    <script src="/admin/js/PR20201.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/admin/css/PR20201.css" type="text/css">
    <link rel="stylesheet" href="/component/layui/css/layui.css" href="style.css">
    <title>请求付款</title>
</head>

<body>
    <div style="width: 800px;margin:auto;">
        <form class="layui-form" id="toPayOrder">
            <table frame=void class="layui-table">
                <tr>
                    <td style="color: black;">顾客编号：</td>
                    <td>
                        <select lay-verify="required" lay-search="" class="userId">
                            <option>1001</option>
                            <option>1002</option>
                            <option>1003</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="color: black;">请求付款日期：</td>
                    <td><input type="text" class="layui-input" id="payDate" placeholder="yyyy年MM月dd日">
                    </td>
                </tr>
                <tr>
                    <td><button type="reset" class="layui-btn  layui-btn-radius"><i
                                class="layui-icon layui-icon-delete"></i>清空</button></td>
                    <td><button id="toMake" type="button" class="layui-btn layui-btn-radius"><i
                                class="layui-icon layui-icon-top"></i>制作</button></td>
                    <a style="display: none;" href="PR20202.html" id="changePage">123</a>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>