<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="../../component/pear/css/pear.css" rel="stylesheet">
		
		<style type="text/css">
			body{
				background-image:url(dz1.jpg);
				background-repeat: no-repeat;
				background-size: cover;
			}
		</style>
	</head>
	<body>
		<div style="margin: 0 auto; max-width: 1140px;">
			
			
			  <!--顶部导航栏-->
			  
			  <!--页面中心内容-->
			  <div class="layui-row layui-col-space10">
			  	<div class="layui-card" style="margin-top: 1px;">
			  		<div class="layui-card-body layui-row">
			  				 
			  			<div class="dd">采购单编号：</div>
			  			<div class="layui-col-md10">
			  				<input id="inputCode1" type="text" placeholder="采购单编号" autocomplete="off" class="layui-input" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" οnblur="if(this.value.replace(/^ +| +$/g,'')=='')alert('不能为空!')">
			  			</div>
						<div class="layui-col-md2">
							<button id="btn1" type="button" class="layui-btn" onclick="check()">检索</button>
						</div>
						
			  			<div class="layui-card">供货商编号：</div>
			  			<div class="layui-col-md12">
			  				<input id="inputCode2" type="text" name="title" hover placeholder="供货商编号" autocomplete="off" class="layui-input" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
			  			</div>
			  			<div class="layui-card">供货商名称：</div>
			  			<div class="layui-col-md12">
			  				<input id="inputCode3" type="text" name="title" hover placeholder="供货商名称" autocomplete="off" class="layui-input">
			  			</div>
			  			<div class="layui-card">应付款：</div>
			  			<div class="layui-col-md12">
			  				<input type="password" name="title" hover placeholder="应付款" autocomplete="off" class="layui-input">
			  			</div>
			  			<div class="layui-card">应付款余额：</div>
			  			<div class="layui-col-md12">
			  				<input type="password" name="title" hover placeholder="应付款余额" autocomplete="off" class="layui-input">
			  			</div>
			  			<div class="layui-card">登记后应付款余额：</div>
			  			<div class="layui-col-md12">
			  				<input type="password" name="title" hover placeholder="登记后应付款余额" autocomplete="off" class="layui-input">
			  			</div>
						
						<!--日期-->
						<div class="layui-row">
						  <div class="layui-form-item">
						    <div class="layui-inline">
						      <label class="layui-col-lg12">采购交货日期</label>
						      <div class="layui-input-inline">
						        <input type="text" class="layui-input" id="test1" placeholder="yyyy-MM-dd">
						      </div>
						    </div>
						  </div>
						</div>
						
						<div class="layui-row">
							<div class="layui-col-md6">
								<button type="button" class="layui-btn">清空</button>
							</div>
							
							<div class="layui-col-md6">
								<button type="button" class="layui-btn" id="btn2" disabled="disabled">登记</button>
							</div>
						</div>
						
			  		</div>
			  	</div>
			  </div>
			  
			  
			  
		</div>
		
		<script src="component/layui/layui.js"></script>
		<script>
			layui.use('laydate', function(){
			  var laydate = layui.laydate;
			  
			  //常规用法
			  laydate.render({
			    elem: '#test1'
			  });
			  
			  //国际版
			  laydate.render({
			    elem: '#test1-1'
			    ,lang: 'en'
			  });
			  
			  //年选择器
			  laydate.render({
			    elem: '#test2'
			    ,type: 'year'
			  });
			  
			  //年月选择器
			  laydate.render({
			    elem: '#test3'
			    ,type: 'month'
			  });
			  
			  //时间选择器
			  laydate.render({
			    elem: '#test4'
			    ,type: 'time'
			  });
			  
			  //日期时间选择器
			  laydate.render({
			    elem: '#test5'
			    ,type: 'datetime'
			  });
			  
			  //日期范围
			  laydate.render({
			    elem: '#test6'
			    //设置开始日期、日期日期的 input 选择器
			    //数组格式为 2.6.6 开始新增，之前版本直接配置 true 或任意分割字符即可
			    ,range: ['#test-startDate-1', '#test-endDate-1']
			  });
			  
			  //年范围
			  laydate.render({
			    elem: '#test7'
			    ,type: 'year'
			    ,range: true
			  });
			  
			  //年月范围
			  laydate.render({
			    elem: '#test8'
			    ,type: 'month'
			    ,range: true
			  });
			  
			  //时间范围
			  laydate.render({
			    elem: '#test9'
			    ,type: 'time'
			    ,range: true
			  });
			  
			  //日期时间范围
			  laydate.render({
			    elem: '#test10'
			    ,type: 'datetime'
			    ,range: true
			  });
			  
			  //自定义格式
			  laydate.render({
			    elem: '#test11'
			    ,format: 'yyyy年MM月dd日'
			  });
			  laydate.render({
			    elem: '#test12'
			    ,format: 'dd/MM/yyyy'
			  });
			  laydate.render({
			    elem: '#test13'
			    ,format: 'yyyyMMdd'
			  });
			  laydate.render({
			    elem: '#test14'
			    ,type: 'time'
			    ,format: 'H点m分'
			  });
			  laydate.render({
			    elem: '#test15'
			    ,type: 'month'
			    ,range: '~'
			    ,format: 'yyyy-MM'
			  });
			  laydate.render({
			    elem: '#test16'
			    ,type: 'datetime'
			    ,range: '到'
			    ,format: 'yyyy年M月d日H时m分s秒'
			  });
			  
			  //开启公历节日
			  laydate.render({
			    elem: '#test17'
			    ,calendar: true
			  });
			  
			  //自定义重要日子
			  laydate.render({
			    elem: '#test18'
			    ,mark: {
			      '0-10-14': '生日'
			      ,'0-12-31': '跨年' //每年的日期
			      ,'0-0-10': '工资' //每月某天
			      ,'0-0-15': '月中'
			      ,'2017-8-15': '' //如果为空字符，则默认显示数字+徽章
			      ,'2099-10-14': '呵呵'
			    }
			    ,done: function(value, date){
			      // 点击每年的 10月14日，弹出提示语
			      if(date.month === 10 && date.date === 14){ 
			        layer.msg('这一天是：Layui 的生日');
			      }
			    }
			  });
			 
			  // 节假日和补班日标注
			  laydate.render({
			    elem: '#test18-1',
			    value: '2022-5-21',
			    holidays: [ // v2.7.3 新增
			      // 2022 年的节假日，可参见国家每年公布的法定节假日安排
			      ['2022-1-1', '2022-1-2', '2022-1-3', '2022-1-31', '2022-2-1', '2022-2-2', '2022-2-3', '2022-2-4', '2022-2-5', '2022-2-6', '2022-4-3', '2022-4-4', '2022-4-5', '2022-4-30', '2022-5-1', '2022-5-2', '2022-5-3', '2022-5-4', '2022-6-3', '2022-6-4', '2022-6-5', '2022-9-10', '2022-9-11', '2022-9-12', '2022-10-1', '2022-10-2', '2022-10-3', '2022-10-4', '2022-10-5', '2022-10-6', '2022-10-7'],
			      // 2022 年的补班日
			      ['2022-1-29', '2022-1-30', '2022-4-2', '2022-4-24', '2022-5-7',  '2022-10-8', '2022-10-9']
			    ]
			  });
			  
			  //限定可选日期
			  var ins22 = laydate.render({
			    elem: '#test-limit1'
			    ,min: '2016-10-14'
			    ,max: '2080-10-14'
			    ,ready: function(){
			      ins22.hint('日期可选值设定在 <br> 2016-10-14 到 2080-10-14');
			    }
			  });
			  
			  //前后若干天可选，这里以前后 7 天为例
			  laydate.render({
			    elem: '#test-limit2'
			    ,min: -7
			    ,max: 7
			  });
			  
			  //限定可选时间
			  laydate.render({
			    elem: '#test-limit3'
			    ,type: 'time'
			    ,min: '09:30:00'
			    ,max: '17:30:00'
			    ,btns: ['clear', 'confirm']
			  });
			  
			  //同时绑定多个
			  lay('.test-item').each(function(){
			    laydate.render({
			      elem: this
			      ,trigger: 'click'
			    });
			  });
			  
			  //初始赋值
			  laydate.render({
			    elem: '#test19'
			    ,value: '2016-10-14'
			    ,isInitValue: true
			  });
			  
			  //选中后的回调
			  laydate.render({
			    elem: '#test20'
			    ,done: function(value, date){
			      layer.alert('你选择的日期是：' + value + '<br>获得的对象是' + JSON.stringify(date));
			    }
			  });
			  
			  //日期切换的回调
			  laydate.render({
			    elem: '#test21'
			    ,change: function(value, date){
			      layer.msg('你选择的日期是：' + value + '<br><br>获得的对象是' + JSON.stringify(date));
			    }
			  });
			  //不出现底部栏
			  laydate.render({
			    elem: '#test22'
			    ,showBottom: false
			  });
			  
			  //只出现确定按钮
			  laydate.render({
			    elem: '#test23'
			    ,btns: ['confirm']
			  });
			  
			  //自定义事件
			  laydate.render({
			    elem: '#test24'
			    ,trigger: 'mousedown'
			  });
			  
			  //点我触发
			  laydate.render({
			    elem: '#test25'
			    ,eventElem: '#test25-1'
			    ,trigger: 'click'
			  });
			  
			  //双击我触发
			  lay('#test26-1').on('dblclick', function(){
			    laydate.render({
			      elem: '#test26'
			      ,show: true
			      ,closeStop: '#test26-1'
			    });
			  });
			  
			  //日期只读
			  laydate.render({
			    elem: '#test27'
			    ,trigger: 'click'
			  });
			  
			  //非input元素
			  laydate.render({
			    elem: '#test28'
			  });
			  
			  //墨绿主题
			  laydate.render({
			    elem: '#test29'
			    ,theme: 'molv'
			  });
			  
			  //自定义颜色
			  laydate.render({
			    elem: '#test30'
			    ,theme: '#393D49'
			  });
			  
			  //格子主题
			  laydate.render({
			    elem: '#test31'
			    ,theme: 'grid'
			  });
			  
			  
			  //直接嵌套显示
			  laydate.render({
			    elem: '#test-n1'
			    ,position: 'static'
			  });
			  laydate.render({
			    elem: '#test-n2'
			    ,position: 'static'
			    ,lang: 'en'
			  });
			  laydate.render({
			    elem: '#test-n3'
			    ,type: 'month'
			    ,position: 'static'
			  });
			  laydate.render({
			    elem: '#test-n4'
			    ,type: 'time'
			    ,position: 'static'
			  });
			});
			
		</script>
		
		<script>
			var btn2=document.getElementById("btn2");
			var inputCode3=document.getElementById("inputCode3");
			
			
			function check() {
							re = /^\d+$/;  // +表示至少有一位数字
							if (!inputCode3.value) {
								alert("请输入采购单编号");
							} else if (!re.test(inputCode3.val())) {
								// $('#err1').html('请在商品编号栏输入半角数字');
								alert("至少有一位数字");
							} else if ($('#inputCode1').val().length != 5){
								//$('#err1').html('请在商品编号栏输入5为字符');
							} else {
								//$('#err1').html('');
								// 提交表单
							}
							
						}
		</script>
	</body>
</html>