<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品订单月报</title>
    <link rel="stylesheet" href="../../component/pear/css/pear.css" />
</head>

<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">请选择年月</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="test1" placeholder="yyyy-MM">
                    </div>
                </div>


                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                        <i class="layui-icon layui-icon-search"></i>
                        打印预览
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>
</div>



<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
      <div class="layui-text" style="font-size: 15px;" > --月商品订单月报</div>
    </div>
</script>
   





<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>
<script>
    layui.use(['table', 'dropdown', 'laydate'], function () {
        var table = layui.table;
        var dropdown = layui.dropdown;
        var laydate = layui.laydate;

        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDay();
        var D = year + '-' + month + '-' + day;

        laydate.render({
            elem: '#test1'
            , type: 'month'
            , min: '2001-1-1'
            , max: D
        });



        // 创建渲染实例
        table.render({
            elem: '#test'
            , url: '../../admin/data/demo1.json' // 此处为静态模拟数据，实际使用时需换成真实接口
            , height: 'full-200' // 最大高度减去其他容器已占有的高度差
            ,toolbar: '#toolbarDemo'
            , cellMinWidth: 80
            , totalRow: true // 开启合计行
            , page: false
            , cols: [[
                { field: 'id', title: '序号', sort: true, align: 'center', totalRowText: '合计：' }
                , {
                    field: 'id', title: '商品编号', align: 'center', templet: function (d) {
                        return '<div style="text-align: left">' + d.id + '</div>'
                    }
                }
                , {
                    field: 'username', title: '商品名称', align: 'center', templet: function (d) {
                        return '<div style="text-align: left">' + d.username + '</div>'
                    }
                }
                , {
                    field: 'id', title: '订单数量', align: 'center', templet: function (d) {
                        return '<div style="text-align: right">' + d.id + '</div>'
                    }
                }
                , {
                    field: 'experience', title: '订单金额合计(元)', align: 'center', sort: true, templet: function (d) {
                        return '<div style="text-align: right">' + d.experience + '</div>'
                    },totalRow: '{{= d.TOTAL_NUMS }} 😊', 
                }
            ]]
            , done: function () {
                var id = this.id;

            }
            , error: function (res, msg) {
                console.log(res, msg)
            }
        });

    });
</script>

</body>

</html>